.container {
    margin-top: 151px;
    padding-top: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    width: 1043px;
    position: relative;
}

.titleContainer > button {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 10; /* 버튼을 전면으로 이동 */
    cursor: pointer; /* 커서가 포인터로 변경 */
}

.topTitle {
    width: 60px;    
    border-top: 3px solid black;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36px;
}

.challengeListRow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.challengeList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 69px;
    transform: translateY(-101px);
}
