.container {
    margin-top: 151px;
    padding-top: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    width: 1043px;
    position: relative;
}

.titleContainer > button {
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 10; /* 버튼을 전면으로 이동 */
    cursor: pointer; /* 커서가 포인터로 변경 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.titleContainer > button:hover{
    opacity: 0.5;
    cursor: pointer;
}


.topTitle {
    width: 60px;    
    border-top: 3px solid black;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 36px;
}

.challengeListRow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.challengeList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 69px;
    transform: translateY(-101px);
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    right: 142px;
    top: -12px;
}

.buttons .beforeBtn,.afterBtn{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.beforeBtn:hover{
    opacity: 0.5;
    cursor: pointer;
}

.afterBtn:hover{
    opacity: 0.5;
    cursor: pointer;
}